# Database Configuration
DB_USER=admin
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5433
DB_NAME=designer_panel

# Security
SECRET_KEY=generate_a_secure_random_key_here
SUPABASE_JWT_SECRET=your_supabase_jwt_secret_here
VITE_SUPABASE_URL=your_supabase_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here
ALGORITHM=HS256

# Bucket
AWS_S3_ENDPOINT=give_your_s3_endpoint_here
AWS_DEFAULT_REGION=give_your_s3_region_here
AWS_ACCESS_KEY_ID=give_your_s3_access_key_id_here
AWS_SECRET_ACCESS_KEY=give_your_s3_secret_access_key_here
S3_BUCKET_NAME=give_your_s3_bucket_name_here

# CORS
CORS_ORIGINS=["http://localhost:3000", "http://localhost:5173"]
