fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib[bcrypt]
bcrypt==3.1.7
python-jose[cryptography]
alembic
pydantic[email]
python-multipart
ifcopenshell
numpy
pandas
openpyxl
python-docx
docxtpl
pytest
python-dotenv
httpx
